
{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
    <article class="post">
        <span>
            <h2 style="display: inline-block;"><a href="{% url 'post_detail' pk=post.pk %}" style="display: inline-block;">{{ post.title }}</a></h2>
            <button type="button" class="btn btn-primary" style="display: inline-block; font-size: small; margin-left: 10px; margin-top: -8px;" id={{ forloop.counter }} onclick="openCont()">Read</button>
        </span>
        <div>
            <span>
                <p id="tempCont{{ forloop.counter }}">{{ post.text|slice:":50" }}...</p>
            </span>
        </div>
        <div class="mainCont" id="mainCont{{ forloop.counter }}">
            <p>{{ post.text|linebreaksbr }}</p>
        </div>
            <time>Cretated: {{ post.created_date }}</time>
        <hr>
    </article>
    {% endfor %}
{% endblock %}