{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
    <article class="post">
        <span>
            <h2 style="display: inline-block; color: rgb(194, 81, 0);;">{{ post.title }}</h2>
        </span>
        <div>
            <span>
                <p id="tempCont{{ forloop.counter }}">{{ post.text }}</p>
            </span>
        </div>
        <div class="mainCont" id="mainCont{{ forloop.counter }}">
            <p>{{ post.text|linebreaksbr }}</p>
        </div>
        {% if post.published_date %}
            <time>Created: {{ post.created_date }}</time>
            <br>
        {% endif %}
        <time>Last Update: {{ post.published_date }}</time>
        <hr>
        {% if user.is_authenticated %}
        <span>
            <aside class="actions" style="display: inline-block;">
                <a href="{% url 'post_edit' pk=post.pk %}" class="btn btn secondary"  data-toggle="tooltip" title="Publish">
                    <img src="{% static "icons/pencil-fill.svg" %}" alt="Create New Post!" width="50px"/>
                </a>
            </aside>
            {% if post.published_date %}
            {% else %}
            <aside class="actions" style="display: inline-block;" >
                <a href="{% url 'post_publish' pk=post.pk %}" class="btn btn secondary" data-toggle="tooltip" title="Publish">
                    <img src="{% static "icons/send.svg" %}" alt="Create New Post!" width="50px"/>
                </a>
            </aside>
            {% endif %}
            <aside class="actions" style="display: inline-block;" >
                <a href="{% url 'post_delete' pk=post.pk %}" class="btn btn secondary" data-toggle="tooltip" title="Delete">
                    <img src="{% static "icons/delete.svg" %}" alt="Delete post" width="50px"/>
                </a>
            </aside>
        </span>
        <a href="{% url 'add_comment_to_post' pk=post.pk %}" class="top-menu" data-toggle="tooltip" title="Comment">
            <img src="{% static "icons/comment.svg" %}" alt="Add comment" width="50px"style="margin-left: 20px"/>
        </a>
        {% else %}
        <a href="{% url 'add_comment_to_post' pk=post.pk %}" class="top-menu" data-toggle="tooltip" title="Comment">
            <img src="{% static "icons/comment.svg" %}" alt="Add comment" width="50px"/>
        </a>
        {% endif %}
    </article>
    {% for comment in post.comments.all %}
        {% if comment.approved_comment %}
            <div class="comment" style="padding-bottom: 20px; padding-top: 20px;">
                <span> - Comment by: <strong>{{ comment.author }}</strong>
                    {% if user.is_authenticated %}
                        <a href="{% url 'delete_comment' pk=comment.pk %}" class="top-menu" data-toggle="tooltip" title="Delete" style="display: inline-block; margin-left: 10px;">
                            <img src="{% static "icons/delete.svg" %}" alt="Delete" width="30px"/>
                        </a>
                    {% endif %}
                </span>
                <div style="padding-left: 20px">
                    <p>{{ comment.text|linebreaks }}</p>
                    <div class="date">Written: {{ comment.created_date }}</div>
                </div>
            </div>
        {% else %}
            {% if user.is_authenticated %}
            <span>
                <div class="comment" style="padding-bottom: 20px; padding-top: 20px; display: inline-block;">
                    <span> - Comment by: <strong>{{ comment.author }}</strong>
                        <a href="{% url 'approve' pk=comment.pk %}" class="top-menu" data-toggle="tooltip" title="Approve" style="display: inline-block; margin-left: 10px;">
                            <img src="{% static "icons/check.svg" %}" alt="Approve" width="50px"/>
                        </a>
                        <a href="{% url 'delete_comment' pk=comment.pk %}" class="top-menu" data-toggle="tooltip" title="Delete" style="display: inline-block; margin-left: 10px;">
                            <img src="{% static "icons/delete.svg" %}" alt="Delete" width="30px"/>
                        </a>
                    </span>
                    <div style="padding-left: 20px">
                        <p>{{ comment.text|linebreaks }}</p>
                        <div class="date">Written: {{ comment.created_date }}</div>
                    </div>
                </div>
            </span>
            {% endif %}
        {% endif %}
    {% endfor %}
{% endblock %}